{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameMaster</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <h1>GameMaster</h1>
    <div class="menu">
        <a href="{% url 'forca' %}">
            <button>Forca</button>
        </a>
        <a href="{% url 'batalha_naval' %}">
            <button>Batalha Naval</button>
        </a>
        <a href="{% url 'jogo_da_memoria' %}">
            <button>Jogo da Memória</button>
        </a>
        <a href="{% url 'pedra_papel_tesoura' %}">
            <button>Pedra, Papel e Tesoura</button>
        </a>
        <a href="{% url 'blackjack' %}">
            <button>Blackjack</button>
        </a>
        <a href="{% url 'fazenda' %}">
            <button>Fazenda</button>
        </a>
    </div>
</body>
</html>